body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    positon: relative;
}
div{
    width: 50%;
    height: 50%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
